# ignore vim temporary files
*.swp
*.swo

# ignore the environment for Python
.env

# ignore Python temp files
*.pyc

# ignore the user-specific settings
config/settings.ini

# ignore the Packer cache directories
packer/*/packer_cache
