# Purpose: This is the configuration file which defines the settings desired
#          for the Virtual Machine being built. Most settings in this file beyond
#          the specific developer scripts/profiles/configurations can be left
#          alone to use the default values.

[operating_system]
# Operating system desired for the development VM
# Currently, the following Operating Systems are supported:
#   ubuntu
name = ubuntu

# Operating system version desired for the development VM
# Currently, the following versions are supported:
#   Ubuntu: 16.04
version = 16.04

[hardware]
# Amount of memory desired
memory = 1024

# Number of CPUs desired
num_cpus = 1
